body {
	cursor: url('../../themes/fantasy/cursor.png'),default;
	background: url('../../themes/fantasy/back.jpg') left top repeat;
}

.footer {
  color: #FFFFFF;
	background: #000000;
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
}

.menu {
  color: #FFFFFF;
	background: #000000;
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.menuItem:hover {
	text-shadow: 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF;
}

.slot:hover {
	text-shadow: 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF, 0 0 0.2em #879DFF;
}

.messageWindow {
	background: #FFFFFF;
	border: 2px solid #AAAAAA;
}

.alertWindow {
	background: #FFFFFF;
	border: 2px solid #FFBBBB;
}

.button {
	border: 1px solid #CCCCCC;
}

.button:hover {
	background: #EEEEEE;
	border-color: #555555;
}

.nextColorImgNone{
	background:url('../../themes/fantasy/sprite.png') -400px -157px;
}

.nextColorImg1{
	background:url('../../themes/fantasy/sprite.png') 0 0;
}

.nextColorImg2{
	background:url('../../themes/fantasy/sprite.png') -50px 0;
}

.nextColorImg3{
	background:url('../../themes/fantasy/sprite.png') -100px 0;
}

.nextColorImg4{
	background:url('../../themes/fantasy/sprite.png') -150px 0;
}

.nextColorImg5{
	background:url('../../themes/fantasy/sprite.png') -200px 0;
}

.nextColorImg6{
	background:url('../../themes/fantasy/sprite.png') -250px 0;
}

.nextColorImg7{
	background:url('../../themes/fantasy/sprite.png') -300px 0;
}

.nextColorImg8{
	background:url('../../themes/fantasy/sprite.png') -350px 0;
}

.nextColorImg9{
	background:url('../../themes/fantasy/sprite.png') -400px 0;
}